.setting-container {
    margin: 20px 30px;
    height: 360px;
    color: white;
    overflow-y: hidden;
}

.setting-sites {
    background-color: #03031c;
    height: 100%;
}

.setting-dashboard {
    background-color: #161126;
    height: 100%;
}

.setting-other {
    background-color: #03031c;
    height: 100%;
}

.setting-flex-col {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 86%;
}

.button-setting {
    width: 80%;
    background-color: #171D2B;
    color: #75768F;
    font-weight: 700;
    font-size: 12px;
    border-radius: 5px;
    height: 50px;
    margin: 5px 10%;
    padding: 15px;
    white-space: nowrap;
    text-align: center;
    transition-duration: 200ms, 200ms;
    transition-property: background-color, color;
}

.button-setting:hover {
    cursor: pointer;
    color: white;
    opacity: 0.9;
}

.button-setting-dashboard {
    width: 80%;
    background-color: #222939;
    color: rgb(134, 134, 134);
    font-weight: 700;
    font-size: 12px;
    border-radius: 5px;
    height: 50px;
    margin: 5px 10%;
    padding: 15px;
    white-space: nowrap;
    text-align: center;
    transition-duration: 200ms, 200ms;
    transition-property: background-color, color;
}

.button-setting-dashboard:hover {
    cursor: pointer;
    color: white;
    opacity: 0.9;
}

.active-setting {
    transition-duration: 200ms, 200ms;
    transition-property: background-color, color;
    background-color: #6c62da;
    color: white;
}
